- if task.file? && task.file.image?
  = image_tag task.file_url
= task.render_list_attribute(:created_at)
= task.render_list_attribute(:state)
= task.render_list_attribute(:name)
= task.render_description

- if task.file? && !task.file.image?
  = link_to t(:download_attachment), download_attachment_dashboard_task_path(task.id)
