main
  margin-top: 70px

.center-block
  display: block
  margin-left: auto
  margin-right: auto
  float: none

textarea
  max-width: 100%

.task-actions
  float: right

.task-action-link
  & + &
    padding-left: 15px


.task-action-link--text
  padding-right: 5px

.glyphicon
  top: 3px
